html * {
	margin: 0;
	padding: 0;
}

body {
	background:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAz4AAAABCAYAAAAfD3s9AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAAd0SU1FB9wCEQ4CB52Bz0UAAAAdaVRYdENvbW1lbnQAAAAAAENyZWF0ZWQgd2l0aCBHSU1QZC5lBwAAADhJREFUSMftwbENgDAQBDA/oqFiBPYfKyNQpYl4CqZAOrt8Nuw4cHb3EBERERER8UNVdeHGxMLzApFXCAKQbIusAAAAAElFTkSuQmCC") repeat-y center,
		url("data:image/gif;base64,R0lGODdhMgAyAMIIAOfn5+np6evr6+3t7e/v7/Hx8fPz8/X19SwAAAAAMgAyAAAD/lhD08uBSFLmLEEw8VSdyxBR0cNQCjVU2qJJpRSOpvMGRj0cjwk2IMEIo1ikHAQNJrNiDDgyn2C6kZ2K1w8hQysCfZZOOCTABgIDw6ZSaDEqafbzVL1uQ77M22LVTF05WzlGSkBbMiUNBR9YjGEfAXAnajJqfocsSEZjXyd5JIYxWkgWegtoHC9Wc6ETNEISjD1PUEkmaqynlhRldj1wHlbCPSBRHA0GI3dJmA80hyGeLhZeYarTIryx01HFbHyxEqpod1DRfXh0Kx8LlA8CgQ0RQo1OZDnH3p4EuyJPjB7cJPmQzEoKaf6+nCvVyUmJD1B4xPp2pIwiUhEMsIPm/mRCCzIhckBk1tERHQI8pJDb17FJR0/PFpGhI0RhgJSsZPIxNEsYHXJQEhVTSACACAOXqrQR2q2ppBoWblTDhuZJOwyKlsUAQk7HKVJzqsq76KCNTBbLqK0AAvDNwZNsmRmJtujCnrVDfyihII3my0102sjFdMHFvEM3qBCz56KnDRUnqGzBYqjlthRa3mYsMSJCXavvWEgK1yTXvF6IlLXbs5JvVDwO8NRtEUjwu8h8a+jJ/DncGh9GOJONDXgfEIu9PLu+KgNKPidaPJtofXeOOA+zXBZTV8v3OhlPY6WqrAVca00rztR1UkanCGBZxUGP5BshX0htVF2J1y2j/kfMuGwjzR+w1RSEWu1ZEcEZx6RwzBzlgWOcOZQsB4ZrwYQwygovYAOHdNtpEMmDxkSBlS2e6GTiKm1YxZI7UFRQIU//BNaELAo5o04x5kRhxGfWoZCOCUdARp+QNO0ACxjElSaPAsc0CB5mMjX0UDrKcPDMa+K885whgbgRHE/LvQEcNtZko88qaQkIA0lHEHESFnZ0KUwJqbzpwAHsuXngjrid0yNm4L0Rk5XlcVBXb3WqMURZXU1GH3E04OWgl9pcwMYl8fXhyQuj7DHURijB0RNa7Oh3SXg+BmYOMdG0gMM5K1VJUhi4eoQeLOxA8hdXdq6jCUvRaBIjV3jSEbBgMJDN9cg34Dzn0Q8AEJAAADs=");
	font-family: "Arial", sans-serif;
	color: #333;
}

.clear {
	clear: both;
}

a {
	color: #376299;
}

.page {
	width: 820px;
	display: block;
	margin: 0 auto;
}

.title {
	width: 100%;
	background: black;
	height: 41px;
	z-index: 2;
	background: #6d8cb7;
}

.header {
	height: 40px;
	display: block;
	z-index: 2;
	width: 820px;
	margin: 0 auto;
}

.bar {
	float: right;
	line-height: 40px;
	font-size: 9pt;
}

.bar li a {
	color: white;
	text-decoration: none;
	padding: 14px 7px;
	text-shadow: 0 2px 1px #4d73a7;
}

.bar li a.submit {
	font-weight: bold;
}

.header input {
	width: 160px;
	box-shadow: 0px 1px 2px #ddd inset;
	border: 0 none;
	font-size: 9pt;
	padding: 4px 22px 4px 6px;
	color: #777;
	height: 17px;
	background: #fcfcfc url("data:image/gif;base64,R0lGODlhDAAMAKUqAJ6enqGhoaKioqOjo6SkpKenp6ioqKurq6ysrLCwsLKysrm5ubu7u729vb6+vr+/v8HBwcjIyMnJydHR0dLS0tra2tvb29zc3N7e3t/f3+Dg4OHh4eLi4uPj4+bm5ufn5+np6e7u7u/v7/Dw8PHx8fPz8/T09Pb29vj4+P39/f///////////////////////////////////////////////////////////////////////////////////////yH5BAEKAD8ALAAAAAAMAAwAAAZgwN9JMgAAGKCf8mdSABwTiUDAWUYAl6WocEApB42l0gLYKAEU8S8EwJwl6g8go1wQRsvUYiBSfgIGFSEeCwAGeEodCEYAAwYACiZLKBsYGSEjTgmIaj8lCQAPnUskEBpBADs=") no-repeat scroll 170px 7px;
	border-radius: 2px;
	outline: none;
	line-height: 25px;
}

.header input:hover,
.header input:focus {
	color: #333;
	background-color: white;
}

.header input[type=submit] {
	display: none;
}

.bar li {
	list-style: none;
	display: inline;
}

.page {
	position: relative;
}

.content {
	padding: 30px 35px 35px 30px;
}

.quote {
	font-family: 'Consolas', 'Lucida Console', monospace;
	margin-bottom: 20px;
	overflow: hidden;
}

.quote.unapproved {
	opacity: 0.4;
}

.quote .text {
	padding: 12px 8px;
	font-size: 9pt;
	word-wrap: break-word;
	background: url("data:image/gif;base64,R0lGODlhAgACAKEBAPf39////////////yH5BAEKAAIALAAAAAACAAIAAAICjFEAOw==");
	line-height: 16px;
	width: 634px;
	float: left;
	min-height: 60px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.quote.odd .text {
	border-left: 5px solid #5ca763;
}

.quote.even .text {
	border-left: 5px solid #6d8cb7;
}

.quote.odd .text.hidden {
	background: bottom right no-repeat url("../../../_/png/padlock_odd/{{timestamp.padlock_odd}}"), url("data:image/gif;base64,R0lGODlhAgACAKEBAPf39////////////yH5BAEKAAIALAAAAAACAAIAAAICjFEAOw==");
}

.quote.even .text.hidden {
	background: bottom right no-repeat url("../../../_/png/padlock_even/{{timestamp.padlock_even}}"), url("data:image/gif;base64,R0lGODlhAgACAKEBAPf39////////////yH5BAEKAAIALAAAAAACAAIAAAICjFEAOw==");
}

.quote .text.hidden span {
	margin: 15px;
	display: block;
	color: #888;
}

.quote .text strong em {
	font-style: normal;
	border-radius: 2px;
	padding: 1px 2px 0;
}

.quote .text strong em a {
	color: black;
	text-decoration: none;
	text-shadow: 0 0 1px white;
}

.quote .text strong em.colour-0 {
	background: #fff;
}

.quote .text strong em.colour-1 {
	background: #afafaf;
}

.quote .text strong em.colour-2 {
	background: #afafd9;
}

.quote .text strong em.colour-3 {
	background: #afcdaf;
}

.quote .text strong em.colour-4 {
	background: #f5afaf;
}

.quote .text strong em.colour-5 {
	background: #ddafaf;
}

.quote .text strong em.colour-6 {
	background: #c8afc8;
}

.quote .text strong em.colour-7 {
	background: #fbcaaf;
}

.quote .text strong em.colour-8 {
	background: #fbfbb1;
}

.quote .text strong em.colour-9 {
	background: #affbaf;
}

.quote .text strong em.colour-a {
	background: #afdce5;
}

.quote .text strong em.colour-b {
	background: #d3d4fb;
}

.quote .text strong em.colour-c {
	background: #b5b5fb;
}

.quote .text strong em.colour-d {
	background: #ecafec;
}

.quote .text strong em.colour-e {
	background: #e2e2e2;
}

.quote .text strong em.colour-f {
	background: #ececec;
}

strong.criteria {
	background: yellow;
}

.quote .meta {
	font-size: 9pt;
	padding: 0 0 4px;
	font-family: 'Arial', sans-serif;
}

.quote .meta span.share {
	display: none;
}

.quote:hover .meta span.share {
	font-size: 8pt;
	margin-top: 2px;
	display: block;
}

.quote:hover .meta span.share a {
	color: #666;
}

.quote .meta a {
	color: #333;
}

.quote .meta.info {
	float: left;
	display: inline-block;
	width: 100px;
	text-align: right;
	color: #333;
}

.quote .meta a.id {
	font-weight: bold;
	text-decoration: none;
	font-family: 'Consolas', monospace;
	font-size: 12pt;
	background-color: red;
	display: block;
	width: 60px;
	margin-left: 43px;
	text-align: center;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	color: white;
	display: block;
	line-height: 26px;
}

.quote.odd .meta a.id {
	background-color: #5ca763;
	text-shadow: 0 1px 2px #45984c;
}

.quote.even .meta a.id {
	background-color: #6d8cb7;
	text-shadow: 0 1px 2px #4d73a7;
}

.quote .meta .nick {
	font-weight: bold;
	font-size: 9pt;
	display: block;
	margin-bottom: 2px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.quote .meta .ts {
	font-size: 8pt;
	margin-left: 1px;
}

.quote .meta .ts.lapse {
	cursor: help;
}

.quote .meta.small {
	font-size: 8pt;
	line-height: 15px;
	text-shadow: none;
	color: #666;
	box-shadow: none;
	padding: 8px 0 0 122px;
	border-radius: 0;
	display: block;
}

.pager {
	margin: 35px 132px;
}

.pager a, .pager span {
	font-size: 9pt;
	padding: 3px 7px;
	border: 1px solid #eee;
	background: white;
	margin-right: 1px;
}

.pager a:last-child, .pager span:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.pager a:first-child, .pager span:first-child {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.pager a {
	display: inline-block;
	text-decoration: none;
	color: #333;
}

.pager span {
	border: 0 none;
	opacity: 0.6;
}

.pager span.current, .pager a:hover {
	opacity: 1;
	color: white;
	background: #5ca763;
	border: 1px solid #45984c;
}

.pager span.arrow, .pager a.arrow {
	padding: 3px 10px;
}

.footer {
	font-weight: bold;
	border-top: 1px solid #ccc;
	font-size: 8pt;
	color: #aaa;
	padding: 5px 7px;
	margin-top: 35px;
}

.footer .right {
	font-weight: normal;
	float: right;
}

input, textarea {
	border: 1px solid #ccc;
	color: #333;
}

input {
	font-size: 8pt;
	padding: 3px;
}

textarea {
	font-family: monospace;
}

.submit {
	width: 600px;
	margin: 0 auto;
}

.submit textarea {
	width: 600px;
	height: 300px;
}

.submit dl {
	font-size: 9pt;
	padding: 0 10px;
	color: #333;
}

.submit dt {
	width: 70px;
	line-height: 12px;
	float: left;
	padding: 14px 0 0;
}

.submit dd {
	width: 500px;
	padding: 10px 0 0 75px;
}

.submit input[name=comment] {
	width: 100%;
}

.submit p {
	text-align: center;
	font-size: 8pt;
	font-weight: bold;
	margin: 10px 0 20px;
}

input {
	font-family: 'Arial', sans-serif;
}

input[type=submit],
input[type=button] {
	border-radius: 2px;
	padding: 2px 5px;
	font-weight: bold;
}

.submit input[type=submit],
.submit input[type=button] {
	float: right;
	margin-bottom: 15px;
	margin-left: 8px;
}

.sysmsg {
	margin: 80px auto 200px;
	width: 450px;
}

.sysmsg h3 {
	background: #5c7ba7;
	border-radius: 2px;
	box-shadow: 0px 1px 2px #aaa;
	color: white;
	text-shadow: 0 1px 2px #3e5270;
	display: inline-block;
	padding: 5px 8px;
	margin-bottom: 8px;
}

.sysmsg form {
	margin: 20px auto;
	display: table;
}

.sysmsg label {
	font-size: 9pt;
	font-weight: bold;
}

.sysmsg a {
	text-decoration: none;
}

input[type=checkbox] {
	margin: 0 10px;
}

input[type=text].sep {
	margin: 0 8px;
}

.header .name {
	display: inline-block;
	list-style: none;
}

.header .name a {
	font-size: 16pt;
	font-weight: bold;
	line-height: 41px;
	padding: 0 12px;
	color: white;
	text-shadow: 0 2px 1px #4d73a7;
	text-decoration: none;
}

.topic {
	padding: 12px 30px;
	font-size: 9pt;
	border-bottom: 1px solid #ddd;
	text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white;
}

.search {
	display: inline-block;
	margin: 0 0 0 8px;
}

.quote .meta.info .rest {
	margin: 5px 7px;
}

.topic, .filter {
	background: #fafafa;
	background: url("data:image/gif;base64,R0lGODlhAgACAKEBAPf39////////////yH5BAEKAAIALAAAAAACAAIAAAICjFEAOw==");
}

.filter {
	padding: 12px;
	font-size: 9pt;
	margin-bottom: 30px;
}

.filter, .filter ul li a.selected {
	border-radius: 3px;
}

.filter span {
	font-weight: bold;
	margin: 0 5px;
}

.filter ul, .filter ul li {
	display: inline-block;
}

.filter ul li a {
	padding: 5px 10px;
	text-decoration: none;
}

.filter ul li a.selected {
	background: #6d8cb7;
	color: white;
	font-weight: bold;
	text-shadow: 0 2px 1px #4d73a7;
}

.quote.topich .text {
	min-height: inherit;
}

.quote.topich .meta .nick {
	margin-bottom: 0;
}

.hamburger {
	display: none;
}

@media only screen and (max-width: 820px) {
	.content {
		padding: 20px 20px 35px;
	}

	.quote .meta.info {
		float: none;
		display: inline;
		width: inherit;
	}

	.quote .text {
		float: none;
		width: auto;
		min-height: inherit;
		margin-top: -1px; /* weird margin on ff */
	}

	.quote .meta .nick,
	.quote .meta .ts {
		display: inline;
		margin-left: 5px;
		font-size: inherit;
	}

	.page, .header {
		width: auto;
	}

	.quote .meta.small {
		padding: 8px 0 0 10px;
	}

	.pager {
		margin: 10px;
	}

	.nomobile {
		display: none !important;
	}

	.title, .header {
		height: auto;
	}

	.header .name a:hover {
		background: inherit;
	}

	.header .name a {
		font-size: 14pt;
		line-height: 32px;
	}

	.bar input, .header .name a {
		-moz-transition: none;
		-webkit-transition: none;
		-o-transition: none;
		-ms-transition: none;
	}

	.quote .meta a.id {
		display: inline-block;
		margin: 0;
		border-radius: 2px 2px 2px 0;
	}

	.quote .meta.info .rest {
		display: inline-block;
	}

	.pager {
		margin: 0;
	}

	.pager a, .pager span {
		padding: 6px 10px;
	}

	.pager a.arrow, .pager span.arrow {
		padding: 6px 13px;
	}

	.filter ul li {
		margin-bottom: 8px;
	}

	.bar {
		float: none;
		line-height: inherit;
		display: block;
	}

	.bar li {
		display: block;
		padding-left: 20px;
		line-height: 25px;
	}

	.bar li a {
		padding: 5px 4px;
	}

	.bar li .search {
		margin: 3px 0 6px;
	}

	.topic {
		padding: 8px 20px;
	}

	.hamburger {
		display: block;
		position: absolute;
		top: 3px;
		right: 3px;
		border-radius: 2px;
		display: inline-block;
		width: 25px;
		height: 25px;
		background-color: white;
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMAQMAAABoTh6ZAAAABlBMVEX///88Pj+PEPnKAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeCBEBCyjrtrfCAAAAEUlEQVQI12P4/4cBiOAAGxcA1hEL428Cg6gAAAAASUVORK5CYII=");
		background-position: 6px 7px;
		background-repeat: no-repeat;
	}

	.hamburger:focus {
		box-shadow: 0 2px 1px #4d73a7;
	}
}
