<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
{% if title %}
		<title>{{title}} - {{settings.name}}</title>
{% else %}
		<title>{{settings.name}}</title>
{% endif %}
{% if session.sysmsg %}
		<meta name="robots" content="noindex,nofollow" />
{% endif %}
		<link rel="stylesheet" type="text/css" media="all" href="{{settings.statics_url}}core-sēdecim.css" />
		<link rel="shortcut icon" href="{{settings.statics_url}}fearqdb.png" type="image/x-png"/>
		<link rel="alternate" type="application/rss+xml" title="{% trans _('Latest quotes') %}" href="{{settings.url}}rss" />
{% if settings.snowstorm %}
		<script src="{{settings.statics_url}}snowstorm.js"></script>
		<script>
			snowStorm.flakesMax = 100;
			snowStorm.flakesMaxActive = 100;
			snowStorm.useTwinkleEffect = true;
		</script>
{% endif %}
{% if settings.analytics_enabled %}
		<script>
			var _gaq = _gaq || [];
				_gaq.push(['_setAccount', '{{settings.analytics_code}}']);
				_gaq.push(['_setCustomVar', 1, 'ip', '{{session.ip}}']);
				_gaq.push(['_setCustomVar', 2, 'level', '{{session.level}}']);
				_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.async = true; ga.src = '{{settings.statics_url}}ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
{% endif %}
		<link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="{{settings.name}}">
	</head>
	<body>
		<div class="title">
			<div class="header">
				<span class="name"><a href="/">{{settings.name}}</a></span>
				<ul class="bar">
					<li>
						<form method="post" action="/search">
							<input type="text" name="query" placeholder="{% trans _('search the database...') %}" value="{{session.search}}" />
							<input type="submit" />
						</form>
					</li>
					<li><a href="/random">{% trans _('Random') %}</a></li>
{% if session.level == 'reader' %}
					<li><a href="/logout/{{session.xsrf}}/{{session.origin}}">{% trans _('Log out') %}</a></li>
{% endif %}
{% if (session.level == 'user') || (session.level == 'admin') %}
					<li><a href="/panel">{% trans _('Panel') %}</a></li>
					<li><a href="/logout/{{session.xsrf}}/{{session.origin}}">{% trans _('Log out') %} ({{session.nick}})</a></li>
{% endif %}
					<li><a href="/submit" class="submit">{% trans _('Submit quote') %}</a></li>
				</ul>
			</div>
		</div>
		<div class="page">
			<div class="content">
{% if topic.text %}
				<div class="topic">
{% if 0 %}
	{% if topic.nick %}
					<span class="set">• {% trans _('Channel topic, set by <strong>%s</strong>:') topic.nick %}</span>
	{% else %}
					<span class="set">• {% trans _('Channel topic:') %}</span>
	{% endif %}
{% endif %}
					<span class="text">{{topic.text}}</span>
				</div>
{% endif %}
