<div class="quote {{c.style}}">
	<div class="meta info">
		<a href="{{settings.base_url}}{{c.permaid}}" class="id">#{{c.permaid}}</a>
		<div class="rest">
			<span class="nick">{{c.nick|escape}}</span>
			{% if c.status == 'pending' && 1 == 0 %}
				({% trans _('Yet to be approved') %})
			{% endif %}
			{% if c.timelapse %}
				<span class="ts lapse" title="{{c.date}}">{{c.timelapse}}</span>
			{% else %}
				<span class="ts">{{c.date}}</span>
			{% endif %}
			{% if ((session.level != 'anonymous') || !c.hidden && 1 == 0) %}
				<span class="share">{% trans _('Share it:') %} <a href="{{c.tweet}}" target="_blank">Twitter</a></span>
			{% endif %}
			{% if ((session.level != 'anonymous') && c.hidden) %}
				<span class="share"><a href="{{settings.base_url}}{{c.permaid}}/{{c.password}}" target="_blank">{% trans _('Share it') %}</a></span>
			{% endif %}
		</div>
	</div>
{% if c.hidden %}
	<div class="text hidden">
	{% if (session.level != 'anonymous' || c.forceshow) %}
		{{c.text}}
	{% else %}
		<span>{% trans _('This quote is hidden.') %}<br />
		<strong>{% trans _('Log in from IRC to read it.') %}</strong></span>
	{% endif %}
	</div>
{% else %}
	<div class="text">{{c.text}}</div>
{% endif %}
{% if c.comment && ((session.level != 'anonymous') || !c.hidden || c.forceshow) %}
	<div class="meta small">
		<span class="comment"><strong>{% trans _('Comment:') %}</strong> {{c.comment}}</span>
	</div>
{% endif %}
{% if c.ip && ((session.level == 'admin') || (settings.ip_show)) %}
	<div class="meta small">
		<span class="comment"><strong>IP:</strong> {{c.ip}}</span>
	</div>
{% endif %}
</div>
