<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
>
<channel>
	<title>{{config.site.name}}</title>
	<atom:link href="{{config.core.domain}}rss" rel="self" type="application/rss+xml" />
	<link>{{config.core.domain}}</link>
	<description>{% trans _('Quote database') %}</description>

	<pubDate>{{rss.date}}</pubDate>
	<generator>{{config.core.domain}}</generator>
	<language>{{config.site.lang}}</language>
