<div class="submit">
	<form action="/submit/post" method="post">
		<textarea name="text" id="quote" maxlength="10000"></textarea>
		<dl>
			<dt>{% trans _('Comment:') %}</dt>
			<dd><input type="text" name="comment" maxlength="1000" /></dd>
			<dt>{% trans _('Your nick:') %}</dt>
			<dd>
				<input type="text" name="nick" value="{{nick}}" maxlength="16" /><input type="submit" value="{% trans _('Submit') %}" />
				<input type="checkbox" name="hidden" id="hidden" /><label for="hidden">{% trans _('Hide quote (padlock)') %}</label>
			</dd>
		</dl>
{% if session.level != 'admin' %}
		<br />
		<p>{% trans _('Your quote will be pending approval once submitted.<br />To avoid that, log in before submitting it.') %}</p>
{% endif %}
	</form>
</div>
