.quote .meta.info {
	float: none;
	display: inline;
	width: inherit;
}

.quote .text {
	float: none;
	width: auto;
	max-height: inherit;
}

.quote .meta .nick,
.quote .meta .ts {
	display: inline;
	margin-left: 5px;
	font-size: inherit;
}

.page, .header {
	width: auto;
}

.quote .meta.small {
	padding: 8px 0 0 10px;
}

.pager {
	margin: 10px;
}

.nomobile {
	display: none !important;
}

.title, .header {
	height: 72px;
}

.bar {
	margin-top: 0;
}

.header .name a:hover {
	background: inherit;
}

.header .name a {
	font-size: 14pt;
	line-height: 32px;
}

.bar input, .header .name a {
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
	-ms-transition: none;
}